#navContainer {
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}

#navItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18%;
}

#navItems > select {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--white);
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

#navItems > select > option {
  color: var(--black-3);
}